<div class="field">
  <%= f.label :date %>
  <%= f.text_field :date %>
</div>

<div class="field">
  <%= f.label :amount %>
  <%= f.text_field :amount %>
</div>

<div class="field">
  <%= f.label :tag_list %>
  <%= f.text_field :tag_list %>
</div>
